/* Louis */

.calendar-event-container {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.calendar-event-number {
    font-size: 87px;
    font-weight: 600;
    color: #ED1B2F;
    margin-right: 20px;
    margin-left: 10px;
}

.calendar-event-details {
    flex-grow: 1;
}

.calendar-event-month {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.calendar-event-professor {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.calendar-event-time {
    font-size: 16px;
    color: #666;
}

.calendar-event-actions {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 10px;
}

.calendar-event-actions button {
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    background-color: #ED1B2F;
    border-width: 0;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 500;
}

.calendar-event-actions button:hover {
    transition: background-color 0.3s ease;
    background-color: #ff7582;
}

.modify-button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    background-color: #ED1B2F;
    border-width: 0;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    width: 125px;
}

.accept-button {
    margin-bottom: 10px;
    width: 125px;
}

.reschedule-button {
    margin-bottom: 10px;
}

.cancel-button {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .calendar-event-actions {
        margin-left: 40px;
    }
    .calendar-event-month {
        font-size: 16px;
    }
    
    .calendar-event-professor {
        font-size: 14px;
    }
    
    .calendar-event-time {
        font-size: 14px;
    }

    .calendar-event-number {
        font-size: 56px;
        font-weight: 800;
    }
    .calendar-event-actions button, .modify-button {
        padding: 4px 8px;
        width: 80px;
        font-size: 14px;
        font-weight: 500;
    }
}