/* Footer.css */

.footer-container {
    background-color: white;
    padding: 15px;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-address {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.footer-logo-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    height: 50px;
    margin-bottom: -10px;
}

.copyright {
    color: #333;
    font-size: 0.7rem;
    margin: 0;
}

.footer-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-links a, .professor-name {
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
    text-align: right;
    margin-right: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

@media screen and (max-width: 768px) {
    .footer-links {
        display: none;
    }
    .footer-address {
        display: none;
    }
}