body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #F6F8F9;
    background-size: 100% 100%;
}


.mybookings-container {
    display: flex;
  }
  
.content {
    flex: 1;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.search-bar {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.sort-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .main-content-wrapper {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        height: 100vh; 
    }
    
    .sort-dropdown {
        width: 75px;
    }
}