
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #F6F8F9;
    background-size: 100% 100%;
}


.mybookings-container {
    display: flex;
  }
  
.content {
    flex: 1;
    padding: 20px;
}
