.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F6F8F9;
    padding: 20px;
    height: 100%;
  }
  
  .sidebar-button {
    background-color: #77777A;
    color: white;
    border-width: 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
  }
  
  .sidebar-button.active {
    background-color: red;
}